
<div id="modal" class="point">
    <div class="content">
        <img src="/public/assets/404.jpg" alt="404: Erro, página não localizada!">
        <h1>Assim como essa imagem não faz sentido (Afinal, é um desperdício de excelente café!), a gente também não está entendendo esse erro.</h1>
        <br>
        <h1>Em alguns instantes você voltará para a página anterior.</h1>
    </div>
</div>

<script>
    //Delay automatico de 4 segundos para voltar para a página home
setTimeout( () => {
    window.location = "/"
}, 4000)

</script>